.bg-image{
    background-image: url('../../../assets/chef.png');
    width: 100%;
    background-position: 10% 0 0 10%;

}

/* @media only screen and (max-width: 600px) {
    .bg-image{
        background-image: url('../../../assets/chef.png');

        width: 500px;

        background-position: right top !important;
    }
} */