.bg-image{
    background-image: url('../../../assets/chef.png');
    width: 100%;
    background-position: right 45%;
    padding: 40px;

}

@media only screen and (min-width:440px) and ( max-width: 1000px) {
    .bg-image{
        background-image: url('../../../assets/chef.png');
        width: 100%;
        padding: 30px;
        background-position: right ;
    }
}